<header class="page-container">

    <div class="row">
        <img src="assets/img/burgers.jpg" alt="Burger">
    </div>

    <div class="content-container">
        <div class="burgers-row">
            <div class="column">

                <h4>NomNomNom Burger</h4>

                <ul class="available">
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-block devour=true}}
                        {{/unless}}
                    {{/each}}
                </ul>

            </div>

            <div class="column">

                <h4>Devoured Burgers!</h4>

                <ul class="devoured">
                    {{#each burgers}}
                        {{#if devoured}}
                            <li>{{this.burger_name}}</li>
                        {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>

        <div class="row">
            <h2>Add Burger</h2>
        </div>

        <div class="row">
            <form class="create-form">

                <div class="form-group">
                    <label for="new_burger">Burger Name:</label>
                    <input type="text" id="newBurger" name="new_burger">
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</header>